USE [Database_vendas]
GO
/****** Object:  Table [dbo].[TAB_VENDAS]    Script Date: 08/05/2024 09:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_VENDAS](
	[COD_VENDA] [int] NOT NULL,
	[COD_VENDED] [int] NOT NULL,
	[VAL_VENDA] [float] NULL,
	[VAL_DESCON] [float] NULL,
	[VAL_TOTAL] [float] NULL,
	[DAT_VENDA] [date] NULL,
 CONSTRAINT [PK_TB_VENDAS] PRIMARY KEY CLUSTERED 
(
	[COD_VENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAB_VENDEDORES]    Script Date: 08/05/2024 09:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAB_VENDEDORES](
	[COD_VENDED] [int] NOT NULL,
	[NOM_VENDED] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_VENDED] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TAB_VENDAS] ([COD_VENDA], [COD_VENDED], [VAL_VENDA], [VAL_DESCON], [VAL_TOTAL], [DAT_VENDA]) VALUES (1, 3, 339.16, 23.53, 315.63, CAST(N'2023-09-09' AS Date))
INSERT [dbo].[TAB_VENDAS] ([COD_VENDA], [COD_VENDED], [VAL_VENDA], [VAL_DESCON], [VAL_TOTAL], [DAT_VENDA]) VALUES (2, 1, 135.64, 16.19, 119.44999999999999, CAST(N'2023-01-28' AS Date))
INSERT [dbo].[TAB_VENDAS] ([COD_VENDA], [COD_VENDED], [VAL_VENDA], [VAL_DESCON], [VAL_TOTAL], [DAT_VENDA]) VALUES (3, 3, 834.22, 105.55, 728.67000000000007, CAST(N'2023-12-27' AS Date))
GO
INSERT [dbo].[TAB_VENDEDORES] ([COD_VENDED], [NOM_VENDED]) VALUES (1, N'Vendedor 01')
INSERT [dbo].[TAB_VENDEDORES] ([COD_VENDED], [NOM_VENDED]) VALUES (2, N'Vendedor 02')
INSERT [dbo].[TAB_VENDEDORES] ([COD_VENDED], [NOM_VENDED]) VALUES (3, N'Vendedor 03')
GO
ALTER TABLE [dbo].[TAB_VENDAS]  WITH CHECK ADD FOREIGN KEY([COD_VENDED])
REFERENCES [dbo].[TAB_VENDEDORES] ([COD_VENDED])
GO
